= render partial: "items/top"


.mypage_contents
  .mypage_wrapper
    .mypage_side-bar
      %nav.mypage_nav
        %ul.mypage_nav_list
          %li
            = link_to root_path do
              マイページ
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              お知らせ
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              やることリスト
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              いいね！一覧
              %i.fas.fa-chevron-right
          %li
            = link_to new_item_path do
              出品する
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              出品した商品-出品中
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              出品した商品-取引中
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              出品した商品-売却済み
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              購入した商品-取引中
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              購入した商品-過去の取引
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              ニュース一覧
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              評価一覧
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              ガイド
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              お問い合わせ
              %i.fas.fa-chevron-right
        %h3.mypage_nav_title.bolb メルペイ
        %ul.mypage_nav_list
          %li
            = link_to root_path do
              売上・振込申請
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              ポイント
              %i.fas.fa-chevron-right
        %h3.mypage_nav_title.bolb 設定
        %ul.mypage_nav_list
          %li
            = link_to root_path do
              プロフィール
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              発送元・お届先住所変更
              %i.fas.fa-chevron-right
          %li
            - if @card.blank?
              = link_to payment_user_path do
                支払い方法
                %i.fas.fa-chevron-right
            - else
              = link_to card_path do
                支払い方法
                %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              メール/パスワード
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              本人情報
              %i.fas.fa-chevron-right
          %li
            = link_to root_path do
              電話番号の確認
              %i.fas.fa-chevron-right
          %li
            = link_to logout_user_path do
              ログアウト
              %i.fas.fa-chevron-right
    .mypage_main
      %section.mypage_main_user-icon
        = link_to root_path do
          = image_tag "/assets/member_photo_noimage_thumb-224a733c50d48aba6d9fdaded809788bbeb5ea5f6d6b8368adaebb95e58bcf53.png"
          %h2.bolb
            = current_user.nickname
          .number
            %p
              評価
              %span.bolb 0
            %p
              出品数
              %span.bolb 0
      %section.mypage_main_container
        .tabs
          %input#info{:checked => "checked", :name => "tab-radio", :type => "radio"}/
          %label.tab-content{:for => "info"} お知らせ
          %input#todo{:name => "tab-radio", :type => "radio"}/
          %label.tab-content{:for => "todo"} やることリスト
          .clear-shadow
          .mypage_main_container_content.info
            .mypage_main_container_content_none.bolb
              現在、お知らせはありません
          .mypage_main_container_content.todo
            .mypage_main_container_content_none.bolb
              現在、やることリストはありません
      %section.mypage_main_container
        %h2.mypage_main_container_title.bolb
          購入した商品
        .tabs
          %input#trade{:checked => "checked", :name => "tab-check", :type => "radio"}/
          %label.tab-content{:for => "trade"} 取引中
          %input#completion{:name => "tab-check", :type => "radio"}/
          %label.tab-content{:for => "completion"} 過去の取引
          .clear-shadow
          .mypage_main_container_content.trade
            .mypage_main_container_content_none.bolb
              取引中の商品がありません
          .mypage_main_container_content.completion
            .mypage_main_container_content_none.bolb
              過去に取引した商品がありません 
= render partial: "items/fooder"