- image = @item.images.first
= render partial: "top"
%nav.show_nav
  = link_to 'カテゴリ', '#'
.show_main
  .show_main_1
    .show_main_1_left
    .show_main_1_right
      .show_main_1_right_main
        .show_main_1_right_main_item
          %h2.show_main_1_right_main_item_name
            = @item.name
          .show_main_1_right_main_item_body
            %ul
              %li
                = image_tag image.image.url,class:"main-image"
                %ul
                  - @item.images.each do |image|
                    %li
                      = image_tag image.image.url,class:"image-list"
          .show_main_1_right_main_item_price
            %ul.show_main_1_right_main_item_price_0
              %li.show_main_1_right_main_item_price_0_1
                ¥
              %li.show_main_1_right_main_item_price_0_2
                = @item.price
            .show_main_1_right_main_item_price_detail
              %span.show_main_1_right_main_item_price_detail_1
                (税込)
              %span.show_main_1_right_main_item_price_detail_2
                送料込み
          .show_main_1_right_main_item_detail
            = @item.name
          .show_main_1_right_main_item_table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @item.seller.nickname
                %tr
                  %th カテゴリー
                  %td
                    = @item.category.name
              - if @item.brand.present?
                %tr
                  %th ブランド
                  %td
                    = @item.brand.name
              - if @item.size.present?
                %tr
                  %th 商品のサイズ
                  %td
                    = @item.size.name
                %tr
                  %th 商品の状態
                  %td 
                    = @item.condition
                %tr
                  %th 配送料の負担
                  %td 
                    = @item.shipping.fee_burden
                %tr
                  %th 発送元の地域
                  %td
                    = @item.shipping.shipping_area
                %tr
                  %th 発送日の目安
                  %td
                    = @item.shipping.shipping_days
          .show_main_1_right_main_item_pde
            .show_main_1_right_main_item_pde_1
              - if user_signed_in?
                - if @item.seller.id == current_user.id
                  = link_to edit_item_path(@item), class: "show_main_1_right_main_item_pde_1_2" do
                    編集
                  = link_to item_path(@item), method: :delete, class: "show_main_1_right_main_item_pde_1_2" do
                    削除
                - else
                  = link_to buy_purchase_index_path, class: "show_main_1_right_main_item_pde_1_4" do
                    購入画面に進む
              - else
                = link_to '戻る', root_path, class: "show_main_1_right_main_item_pde_1_4"
          .show_main_1_right_main_item_area
            %ul.show_main_1_right_main_item_area_1
              %li.show_main_1_right_main_item_area_1_like{id: "like"}
                %i{class: "fa fa-star"}
                お気に入り0
            %ul.show_main_1_right_main_item_area_2
              %li.show_main_1_right_main_item_area_2_btn
                %a.show_main_1_right_main_item_area_2_btn_1{href: "#"}
                  %i{class:"fa fa-flag"}
                  不適切な商品の通報
        .show_main_1_right_main_comment
          %ul.show_main_1_right_main_comment_u
          %form.show_main_1_right_main_comment_content{id: "new_comment", action: "#", accept_charset: "UTF-8", method: "post"}
            %input{name: "utf8", type: "hidden", value: ""}
            %input{type:"hidden", name: "token", value: ""}
            %textarea{required: "required", name: "comment[body]", id: "comment_body"}
            %p.show_main_1_right_main_comment_content_msg
              相手のことを考えて相手のことを考えて丁寧な丁寧なコメント丁寧なコメントを心がけましょう。
              %br
                不快な言葉遣いなどは利用制限や退会処分になることがあります。
            %button.show_main_1_right_main_comment_content_btn
              %i.show_main_1_right_main_comment_content_btn_icon
              コメントする
      .show_main_1_right_main_link
        %li.show_main_1_right_main_link_1
          %a.show_main_1_right_main_link_1_be
            %i{class: "fa fa-angle-left"}
            %span.show_main_1_right_main_link_1_be_1
              前の商品
        %li.show_main_1_right_main_link_2
          %a.show_main_1_right_main_link_2_af
            %span.show_main_1_right_main_link_2_af_2
              後の商品
            %i{class: "fa fa-angle-right"}
      .show_main_1_right_main_related
        %a.show_main_1_right_main_related_item
          ベビー・キッズををもっと見る
        .show_main_1_right_main_related_product
%aside.show_aside
  .show_aside_content
    %h2.show_aside_content_title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.show_aside_content_text
      今すぐ無料ダウンロード！
    .show_aside_content_icon
      %a.show_aside_content_icon_apple
        %img.show_aside_content_icon_apple_icon{src: "/app.svg", width: "200", height: "50"}/
      %a.show_aside_content_icon_google
        %img.show_aside_content_icon_google_icon{src: "/google.svg", width: "200", height: "50"}/
= render partial: "fooder"
