.sign-up_header
  = image_tag "/images/material/logo/J_Team_Logo.png", height: 100, width: 200 , class: 'sign-up_header_image'
  .sign-up_header_logo
    = image_tag "/images/material/logo/logo.png", height: 100, width: 200 

.card-new-contents
  .card-new-main
    %h2.chapter-head.bolb
      クレジットカード情報入力
    .card-form
    = form_with model: @card, url: item_cards_path, method: :post, id: 'charge-form', class: 'card-form', novalidate: 'novalidate', local: true do |f|
      .card-form_content
        = f.label :カード番号, class: 'bolb'
        %span.form-necessary
          必須
        = f.text_field :card_number, type: 'text', class: 'input-text-field', placeholder: '半角数字のみ', maxlength: "16"
        = image_tag "/images/material/logo/visa.svg", height: 20, width: 32
        = image_tag "/images/material/logo/master-card.svg", height: 20, width: 32
        = image_tag "/images/material/logo/saison-card.svg", height: 20, width: 32
        = image_tag "/images/material/logo/jcb.svg", height: 20, width: 32
        = image_tag "/images/material/logo/american_express.svg", height: 20, width: 32
        = image_tag "/images/material/logo/dinersclub.svg", height: 20, width: 32
        = image_tag "/images/material/logo/discover.svg", height: 20, width: 32
      .card-form_content
        = f.label :有効期限, class: 'bolb'
        %span.form-necessary
          必須
        .card-form_content_division
          .select-wrap
            %i.fas.fa-chevron-down.select-wrap_icon2
            = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'select-credit'
            %span
              月
          .select-wrap
            %i.fas.fa-chevron-down.select-wrap_icon2
            = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'select-credit'
            %span
              年
      .card-form_content
        = f.label :セキュリティコード, class: 'bolb'
        %span.form-necessary
          必須
        = f.text_field :cvc, type: 'text', class: 'input-text-field', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
        #card_token
      .card-form_content
        = f.submit '追加する', class: 'submit-btn', id: 'token_submit'
        %p.text-right
          = link_to root_path do
            %i.fas.fa-question-circle
            カード裏面の番号とは？

.sign-up_footer
  .sign-up_footer_contents
    .sign-up_footer_contents_links
      %ul
        = link_to root_path, class:"sign-up_footer_contents_links_1" do
          %li プライバシーポリシー
      %ul
        = link_to root_path, class:"sign-up_footer_contents_links_2" do
          %li Fmarket利用規約
      %ul
        = link_to root_path, class:"sign-up_footer_contents_links_3" do
          %li 特定商取引に関する表記
    .sign-up_footer_contents_logo
      = link_to root_path, class:"sign-up_footer_contents_logo_link" do
        = image_tag "/images/material/logo/logo_gray.svg", height: 20, width: 32, class: 'sign-up_footer_contents_logo_image'
    .sign-up_footer_contents_inc
      ©︎Fmarket,inc.
